<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Day 001 Login Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
  
    <!-- Bootstrap cdn testi için gerekli -->
    <div id="bootstrapCssTest" class="hidden"></div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Bootstrap cdn testi için gerekli -->
    <div id="bootstrapCssTest" class="hidden"></div>
 
</head>

<body>	
	<div class="container">
	<div class="row" style="margin-bottom:20px;">
		</div>
		<div class="row">
			<div class="col-md-3" >
				<div>
				  <div id="video_container">
				  <div class="embed-responsive embed-responsive-1by1">
				  		<video   poster="/public/img/cam.png" id="selfVideo"> </video>
					</div>

				<div class="embed-responsive embed-responsive-1by1">
				  <video  poster="/public/img/cam.png" id="partnerVideo"> </video> 
				 </div>
				  </div>
				</div>
				
				<br/>
				 <div id="button_container" >
							
				<div class="btn-toolbar" role="toolbar">
  				<div class="btn-group mr-1" role="group" >
				<a class="btn btn-block btn-success" style="color: #fff;"  id="next_btn" title="Get a Random Stranger">
							 <i class="fa fa-forward fa-3x"></i>
							 <span class="shortcut">Next</span>
							</a>
							<a class="btn btn-block btn-danger" style="color: #fff;"  id="stop_btn" title="Stop The Chat">
							 <i class="fa fa-stop fa-3x"></i>
							 <span class="shortcut">Stop</span>
							</a>
							<a class="btn btn-block btn-warning" style="color: #fff;"  id="clear_btn" title="Clear Chatbox">
							 <i class="fa fa-eraser fa-3x"></i>
							 <span class="shortcut">Clear</span>
							</a>
  				</div>
				  </div>
				</div>
			</div>

			<div class="col-md-9">
				<div id="messages_container" class="myBox" style="padding:15px; border: 1px solid #4d94ff; background-color: #FFF; height:400px; margin-bottom:5px;">

		     		</div>
				<div>
					<textarea id="message" rows="3" name="message" style="float: left; width:86%; margin-right: 5px;"></textarea>
					<button id="send_btn" class="button button1">Send</button>
				</div>
			</div>
		</div>
	</div>
  
    <script src="/public/socket.io/socket.io.js"></script>
	<!-- <script src="/easyrtc/easyrtc.js"></script>
	<script src="/public/easyrtc/easyrtcx015.js"> </script>-->
    <script src="/public/easyrtc/easyrtc.js"></script>
    <script src="/public/app/random.js"></script>
</body>

<!-- Üsteki css cdn çöktüyse bootstrap burada ekliyorum.Sayfa max 1 sn geçikme ile responsive olacak. 
        bu da cdn linklerini kontrol etmem gerektiğini anlamam için. Yani css burada kasıtlı olarak ekliyorum.  -->
    <script type="text/javascript">
        if ($('#bootstrapCssTest').is(':visible') === true) {
            $('<link href="/public/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />').appendTo('head');
            window.Bootstrap || document.write('<script src="/public/libs/bootstrap/js/bootstrap.min.js"><\/script>')
        }
    </script>
</body>
</html>